# 依赖
node_modules/
.pnpm-store/

# 构建输出
dist/
dist-electron/
release/
out/

# 日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# 编辑器
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# 环境变量
.env
.env.local
.env.*.local

# 临时文件
*.log
*.tmp
*.bak
*~

# Electron
release/
app/dist
app/out

# 系统文件
Thumbs.db
.DS_Store

