annotated-types==0.7.0
click==8.3.0
h11==0.16.0
loguru==0.7.3
pydantic==2.12.3
pydantic-core==2.41.4
sqlalchemy==2.0.44
sqlmodel==0.0.27
typing-extensions==4.15.0
typing-inspection==0.4.2
uvicorn==0.38.0
